#content{
    width: 439px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-size: 12px;
    line-height: 25px;
    border: 1px #000 solid;
}
ul,li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
/* 父级元素相对定位 */
#content ul{
    position: relative;
}
.tipText,.tipBg{
    position: absolute;
    width: 439px;
    height: 25px;
    top: 300px;
    color: #21D4FD;
}
.tipText{
    z-index: 999;
}
.tipBg{
    background: #000;
    opacity: 0.5;   /* 背景透明度 */
}